/* .dropdown {
  width: 70px;
  /* margin-top: 20px; */
/* }
*/
.metadata {
  border: 1px solid black;
  margin-top: 10px;
}

.metadata > h3 {
  text-align: center;
  background-color: rgb(103, 152, 203);
  margin: 0px !important;
  color: #ffffff;
  font-weight: bold;
  padding: 5px;
  border-bottom: 1px solid black;
}

.metadata > p {
  margin: 0px !important;
  padding: 2px;
}

.idselect {
  width: 50%;
}

.dropdown {
  height: 200px;
  overflow-y: auto;
}
